@import url('https://fonts.googleapis.com/css?family=Gugi');

.react-app__header {
  background-color: #0941a1;
  text-align: center;
  padding: 2em 1.5em;

  .menu .item {
    &.react-app__header_item {
      padding: 0.5em;
      cursor: pointer;
    }

    &.react-app__header_item--branded {
      // Important is evil but necessary to override semantic-ui-css.
      padding: 0.5em !important;
      font-family: 'Gugi', sans-serif !important;
      font-size: 28px;
      cursor: default;
    }
  }
}